
/* Disables the arrow inside datalist boxes */
input::-webkit-calendar-picker-indicator
{
    display: none;
}

/** REMOVE **/
.test
{
    border: 1px solid red;
}

.current-time-wrapper
{
    margin-top: 60px;
    margin-bottom: 10px;
    color: #eee;
}
#current-time-hm,#current-time-s
{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}
#current-time-hm
{
    font-size: 12em;
    font-weight: 300;
}
#current-time-s
{
    font-size: 3em;
    font-weight: 300;
    margin-left: 26px;
}
.game-time-wrapper
{
    margin-bottom: 60px;
    color: #eee;
}
#game-time
{
    font-size: 1.6em;
    font-weight: 300;
}
#game-time-to-changeover
{
    font-size: 1.6em;
    font-weight: 300;
}
.game-time-icon
{
    font-size: 1.4em;
    margin-right: 10px;
}
.dim
{
    color: #888;
}
.spinme
{
    -webkit-animation-name: spin;
    -webkit-animation-duration: 12000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 12000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 12000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 12000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.pulseme
{
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2400ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: pulse;
    -moz-animation-duration: 2400ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: pulse;
    -ms-animation-duration: 2400ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: pulse;
    animation-duration: 2400ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes pulse {
    0%   {transform: scale(1, 1);}
    50% {transform: scale(0.9, 0.9);}
    100% {transform: scale(1, 1);}
}
@-moz-keyframes pulse {
    0%   {transform: scale(1, 1);}
    50% {transform: scale(0.9, 0.9);}
    100% {transform: scale(1, 1);}
}
@-webkit-keyframes pulse {
    0%   {transform: scale(1, 1);}
    50% {transform: scale(0.9, 0.9);}
    100% {transform: scale(1, 1);}
}
@keyframes pulse {
    0%   {transform: scale(1, 1);}
    50% {transform: scale(0.9, 0.9);}
    100% {transform: scale(1, 1);}
}

.navbar
{
    border-top: 4px solid #424242;
    /*height: 48px;*/
}
.navbar-nav
{
    width: 100%;
    text-align: center;
}
.navbar-nav > li
{
    float: none;
    display: inline-block;
}
.nav-ohai
{
    /*font-size: 1.6em;*/
    /*font-weight: bold;*/
}
/*.navbar .navbar-nav > li > a{*/
    /*height: 48px;*/
/*}*/

body
{
    background-color: #424242;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 100px;
    color: #eee;
}

/*** Form ***/
.form-item-wrapper
{
    background-color: #333;
    color: #ccc;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.form-item-inner-wrapper
{
    background-color: #333;
    color: #ccc;
    padding: 10px 0 10px 0;
    cursor: default;
}
/*.border-left*/
/*{*/
    /*border-left: 1px solid #555;*/
/*}*/
.form-center-h
{
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.form-item
{
    max-height: 48px;
    min-height: 48px;
    display: flex;
    align-items: center;
}
.form-item-timer
{
    font-size: 2.2em;
    font-weight: 300;
}
.form-item-timer span
{
    line-height: 44px;
}
.form-item-img
{
    min-height: 44px;
    max-height: 44px;
    min-width: 44px;
    max-width: 44px;
    background: #222;
    background-position: center;
    border-radius: 5px;
    margin-right: 6px;
    line-height: 44px;
    font-size: 1.2em;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}
.form-item-img-fixed
{
    position: fixed;
    top: 13px;
    left: 6px;
    padding: 0;
    z-index: 1;
}
.form-item-icon
{
    min-height: 28px;
    max-height: 28px;
    min-width: 28px;
    max-width: 28px;
}
.form-item-texticon
{
    min-height: 44px;
    max-height: 44px;
    min-width: 44px;
    max-width: 44px;
    text-align: center;
    font-size: 1.8em;
}
.form-item-texticon span
{
    line-height: 44px;
}
.form-item-submiticon
{
    margin-top: 10px;
    min-height: 44px;
    max-height: 44px;
    min-width: 44px;
    max-width: 44px;
    text-align: center;
    font-size: 1.8em;
    color: #666;
    cursor: pointer;
}
.form-item-submiticon span
{
    line-height: 44px;
}
.form-item-submiticon:hover
{
    color: #43ac6a;
}
.form-item-removeicon
{
    margin-top: 10px;
    min-height: 44px;
    max-height: 44px;
    min-width: 44px;
    max-width: 44px;
    text-align: center;
    font-size: 1.8em;
    color: #666;
    cursor: pointer;
}
.form-item-removeicon span
{
    line-height: 44px;
}
.form-item-removeicon:hover
{
    color: #f04124;
}
.form-item-updateicon
{
    margin-top: 10px;
    min-height: 44px;
    max-height: 44px;
    min-width: 44px;
    max-width: 44px;
    text-align: center;
    font-size: 1.8em;
    color: #666;
    cursor: pointer;
}
.form-item-updateicon span
{
    line-height: 44px;
}
.form-item-updateicon:hover
{
    color: #76cfe6;
}
.btn-submit
{
    background: none;
    border: none;
}
.btn-submit:focus
{
    outline: 0;
}
.btn-submit-green:focus
{
    color: #43ac6a;
}
.btn-submit-red:focus
{
    color: #f04124;
}
.btn-submit-blue:focus
{
    color: #76cfe6;
}
.accumulated-trades
{
    color: #76cfe6;
}

.btn-new {
    background-color: #393939;
    border: 1px solid #414141;
    height: 44px;
    border-radius: 5px;
    color: #eee;
}

.progress-custom
{
    padding: 0;
    background: linear-gradient(to right,
        rgba(67, 172, 106, 0.2) 0%, rgba(67, 172, 106, 0.2) 50%,
        rgba(233, 144, 2, 0.2) 50%, rgba(233, 144, 2, 0.2) 75%,
        rgba(240, 65, 36, 0.2) 75%, rgba(240, 65, 36, 0.2) 100%);
    margin: 0;
}
.progress-custom-lg
{
    padding: 0;
    background: linear-gradient(to right,
    rgba(67, 172, 106, 0.2) 0%, rgba(67, 172, 106, 0.2) 50%,
    rgba(233, 144, 2, 0.2) 50%, rgba(233, 144, 2, 0.2) 75%,
    rgba(240, 65, 36, 0.2) 75%, rgba(240, 65, 36, 0.2) 100%);
    margin: 0;
    height: 6px;
}
.progress-custom-wrapper
{
    margin: 0;
    padding: 0;
}

/*** Items ***/
.row-wrapper
{
    margin: 30px 0 0 0;
    padding: 0px;
}
.btn-new2 {
    background-color: #393939;
    border: 0px solid #414141;
    height: 44px;
    border-radius: 5px;
    color: #eee;
    padding-top: 12px;
}
.btn-remove
{
    background: none;
    border: none;
}
.btn-remove:focus
{
    outline: 0;
}

.set-width-input
{
    max-width: 85px;
    min-width: 85px;
}
.truncate
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.session-data
{
    margin-top: 20px;
}

/*** Time format switch ***/
.time-format-buttons
{
    margin-top: 16px;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 30px;
    float: right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    line-height: 30px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #525252;
    color: #aaa;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 32px;
    left: 4px;
    bottom: 4px;
    background-color: #424242;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #666;
}

input:focus + .slider {
    box-shadow: 0 0 1px #666;
}

input:checked + .slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
}
.slider-l
{
    width: 50%;
    display: inline-block;
}
.slider-r
{
    width: 50%;
    display: inline-block;
}

.timerbar-wrapper
{
    position: fixed;
    top: 1px;
    padding: 0;
    z-index: 1;
}
.fixed-button-wrapper
{
    position: fixed;
    top: 13px;
    left: 50px;
    padding: 0;
    z-index: 2;
}
.fixed-button-removeicon
{
    min-height: 44px;
    max-height: 44px;
    min-width: 44px;
    max-width: 44px;
    text-align: center;
    font-size: 1.4em;
    color: #666;
    cursor: pointer;
}
.fixed-button-removeicon:hover
{
    color: #f04124;
    font-size: 1.6em;
}
.fixed-button-removeicon span
{
    line-height: 38px;
}

th
{
    text-align: center;
}
.table > tbody > tr > td
{
    vertical-align: middle;
}
.table-content
{
    background: #555555;
    font-weight: bold;
    color: #eee;
}
.table-hover > tbody > tr:hover > td.table-content
{
    background: #666666;
    font-weight: bold;
    color: #eee;
}
.table-hover > tbody > tr:hover > td.table-no-content
{
    background: #424242;
}
.table-wrapper
{
    margin-top: 60px;
}

.btn-new3
{
    background-color: #525252;
    border: 1px solid #383838;
    border-radius: 5px;
    color: #aaa;
}
.btn-new3:hover
{
    color: #eee;
    background: #666666;
}
.btn-new3.active
{
    background-color: #484848;
}
.btn-new3:focus,
.btn-new3:active
{
    outline: 0 !important;
    color: #aaa;
}
.btn-new3:focus:hover,
.btn-new3:active:hover
{
    outline: 0 !important;
    color: #eee;
}
.btn-group-new
{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.nav > li {
    min-width: 150px;
}
/*.nav > li > a {*/
    /*margin: 0;*/
    /*height: 100%;*/
/*}*/
/*.nav > li.nav-ohai > a {*/
    /*!*background: pink;*!*/
    /*font-size: 1.6em;*/
    /*height: 100%;*/
/*}*/

/*.big-qn*/
/*{*/
    /*font-size: 2.2em;*/
    /*color: #525252;*/
/*}*/
#timer-explanation-toggle
{
    height: 44px;
    color: #525252;
}
#timer-explanation-toggle > i
{
    line-height: 44px;
    font-size: 2em;
}
#timer-explanation-toggle:hover
{
    color: #eee;
}
hr
{
    border-top: 1px solid #525252;
}

/*.small-dot*/
/*{*/
    /*font-size: 0.4em;*/
    /*line-height: 50px;*/
    /*text-align: center;*/
/*}*/
.text-row
{
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.text-row-item
{
    /*min-height: 48px;*/
    display: flex;
    align-items: flex-start;
}
.small-dot
{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 0.75em;
    margin-top: 6px;
}

.flash{

    -moz-animation: flash 1s ease-in-out;
    -moz-animation-iteration-count: 5;

    -webkit-animation: flash 1s ease-in-out;
    -webkit-animation-iteration-count: 5;

    -ms-animation: flash 1s ease-in-out;
    -ms-animation-iteration-count: 5;

    animation: flash 1s ease-in-out;
    animation-iteration-count: 5;

}
@-webkit-keyframes flash {
    0% { background:none;}
    20% { background:#626262;}
    50% {background:none;}
    100% {background:none;}
}
@-moz-keyframes flash {
    0% { background:none;}
    20% { background:#626262;}
    50% {background:none;}
    100% {background:none;}
}
@-ms-keyframes flash {
    0% { background:none;}
    20% { background:#626262;}
    50% {background:none;}
    100% {background:none;}
}
@keyframes flash {
    0% { background:none;}
    20% { background:#626262;}
    50% {background:none;}
    100% {background:none;}
}

/** Item colors for text **/
.item-orange
{
    color: #ff5e14;
}
.item-yellow
{
    color: gold;
}
.item-blue
{
    color: #0099ff;
}
.item-green
{
    color: #acff59;
}

/*.footer {*/
    /*margin-bottom: 50px;*/
    /*padding-bottom: 26px;*/
    /*padding-top: 60px;*/
/*}*/
